<div class="form-alumnos">
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name" />
    </mat-form-field>
    <p></p>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
      />
    </mat-form-field>
    <p></p>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Passwprd"
      />
    </mat-form-field>

    <p></p>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Primary
    </button>
  </form>
</div>
