<div class="row" *ngIf="movie" >
    <div class="col-md-6">
        <img [src]="movie.poster_path | poster"
            class="img-thumbnail"
            alt="...">
    </div>

    <div class="col-md-6">
        <h3> {{movie.title}} </h3>

        <div class="row">
            <div class="col">
                <star-rating 
                    class="col-10"
                    [value] = movie.vote_average
                    [totalstars]= 10                 
                    checkedcolor="yellow" 
                    uncheckedcolor="gray" 
                    size="15px" 
                    [readonly]=false>
                </star-rating>
            </div>
            <div class="col text-white">
                {{movie.vote_average}}
            </div>
        </div>

        <div class="row">
            <div class="col text-white">
                {{movie.overview}}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button type="button" class="btn btn-outline-warning" (click)="volver()" >
                    Regresar
                </button>
                
            </div>
        </div>

    </div>
</div>

<div class="row mt-3" *ngIf="cast.length > 0" >
    <div class="col">
        <app-cast-slide-show [cast]="cast" ></app-cast-slide-show>
    </div>
</div>