.card {
  width: 25%;
  margin: 10px;
  max-height: 15em;
  color: white;
}
.flex-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}
.open {
  background-color: green;
}
.closed {
  background-color: grey;
}
.waiting {
  background-color: rgb(161, 161, 42);
}
