.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  .form-wrapper {
    border: 1px solid white;
    padding: 2em;
    .title {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;

    }
  }
}