<section class="sign-in">
  <div class="form-wrapper">
    <div class="title">
      <h1>
        Sign In
      </h1>
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
      <mat-form-field [appearance]="fieldStyle" >
        <input type="email" matInput formControlName="email" placeholder="Your email">
      </mat-form-field>
      <mat-form-field [appearance]="fieldStyle" >
        <input type="password" matInput formControlName="password" placeholder="Your password">
      </mat-form-field>
      <button mat-stroked-button color="primary" type="submit">Primary</button>
    </form>
  </div>
</section>