<mat-card class="example-card" *ngFor="let item of data">
    <mat-card-title-group>
        Quantity
        <br>
        <div [ngSwitch]="item.id">
            <p *ngSwitchCase="1">{{breakFastState | async}}</p>
            <p *ngSwitchCase="2">{{pizzaState | async}}</p>
            <p *ngSwitchCase="3">{{dinnerState | async}}</p>
        </div>        
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>${{item.price}}</mat-card-subtitle>
        <img mat-card-lg-image [src]="item.img" alt="menu-item" >
    </mat-card-title-group>
    <mat-card-content>
        <span class="material-icons">
            {{item.icon}}
        </span>
        {{item.description}}
    </mat-card-content>
</mat-card>
