.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
    text-align: center;    
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-grid-tile {
    background: whitesmoke;
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .waiter-footer{
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    height: 400px;
  }
  .centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }